#navbar{
  background-color: #eeba30;

}
.nav-bar-text{
  color: black;
}
#heading{
  /* border: 1px solid black; */
  /* background-color: #d3a625; */
  font-family: "regular", Oswald;
  margin-top: 96px;
  color: white;
  text-align: right;
  text-shadow: 4px 4px black;
}
.garcias-brand{
  height: 80px;
  width:auto;
}
.parallax{
  background-image: url("../images/garcias_header_muted1.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#heading-text{
  text-align: center;
  font-size: 75px;
  margin-t
}
#tocos{
  height: 25em;
  float: left;
  margin-left: -20px;
  float: bottom;
}
#second{
  /* border: 1px solid black; */
  background-color: #740001;
}

#giftcards{
  color: white;
  font-family:"regular", Oswald;
  font-size: 40px;
}
#visit-our{
  color:white;
  font-family: "regular", Cardo;
  text-align: center;
}
#bottom-red{
  background-color: #ae0001;
}
#bottom-details{
  padding-top: 20px;
  color: white;
  font-family: "regular", Cardo;
}
#bottom-paragraph{
  color: white;
}
#gallery-container{
  background-color: #740001;
}
#gallery{
  color:white;
}
#history-container{
  background-color: #740001;
}
.our-history{
  color: white;
  font-family: "regular", Oswald;
}
.container-header{
  background-color: black;
}
#container-header{
  background-color:
}
.founder{
  color:black;
  Background-color: #eeba30;
}
.positions{
  background-color: #ae0001;
  color: white;
  font-famiy: "regular", Oswald;
}
.page-footer{
  background-color: black;
  color:white;
}
