#navbar{
  background-color: #eeba30;
}

#heading{
  font-family: "regular", Oswald;
  margin-top: 96px;
  color: black;
  text-align: center;
}
.garcias-brand{
  height: 80px;
  width:auto;
}
.our-menus{
  background-color: #d3a625;
}
.our-locations{
  background-color: 	#740001;
}
.white-text{
  color:white;
}
.location-cards{
  background-color: #d3a625;

}
.catering-info{
  background-color: #ae0001;
  color:white;
}
.location-footer{
  background-color: #ae0001;
  color: white;
}
